// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.home {
  background-image:url('main1.jpg');
  /*width:1160px;*/
  height:580px;
  text-align: center;
}

.sign_up_button {
  margin-top: 240px;

}
