<div class="row">
  <%= @user.email %>
</div>
<div class="row avatar">
  <%= image_tag 'ruby_avatar_default_200x200.jpg', size: '200x200', alt: 'avatar' %>
</div>
<div class="row statistics">
  <%= how_many_posts %>
</div>
