<div class="container">
  <div class="col-md-4 user_info_form_block text-center">
    <%= render 'user_info' %>
    <%= link_to 'Do Post', '', class: 'btn btn-primary btn-block', id: 'show_hide_form_button' %>
    <%= render 'posts/form', hidden: true %>
  </div>

  <div class="col-md-8">
    <div class="blok_with_posts">
      <%= search_posts %>
    </div>
    <%#= paginate @posts, window: 3 %>
  </div>
</div>
